@media (max-width:600px) {
    .dash-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dash-txt{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}