.nav{
   padding: 1%;
   display: flex;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
   align-items: center;
   justify-content: space-between;
   width: 100%;
   
}
.nav img{
   margin: 0% 0.5% 0% 1%;
   filter: invert(1);
   width: 50px;
}
.nav h1{
   font-weight: 400;
   font-size: 25px;
}
.logout-btn{
    /* margin-left: 5%; */
    background: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.1s;
}
.logout-btn:hover{
    transform: scale(1.1);
}
.logout-btn:active{
    transform: scale(0.9);
}
.nav-right{
    display: flex;
    /* height: 30px; */
    /* background-color: var(--secondary-color); */
    border-radius: 5px;
    gap: 60px;
    align-items: end;
    padding: 5px;
}
.nav-right p{
    font-size: 20px;
    display: flex;
    margin: 0px;
    /* align-items: center; */
    /* height: 100%; */
}
.nav-right i{
    font-size: 20px;
    margin: 3px;
}
@media (max-width:600px){
    .nav img{
        width: 40px;
    }
    .nav-right p{
        font-size: 14px;
    }
    .logout-btn{
        transform: scale(0.8);
    }
}
.common-chat{
    display: flex;
    align-items: center;
    gap: 10px;
}
.msg{
    height: fit-content;
    display: flex;
}
.user-txt{
    background-color: rgb(219, 219, 219);
    padding:5px 10px;
    border-radius: 20px 20px 0px 20px;
}
.ai-txt{
    background-color: rgb(74, 204, 255);
    padding:5px 10px;
    border-radius: 20px 20px 20px 0px;
}