* {
  font-family: "Manrope", sans-serif;
  margin: 0px;
  font-size: 15px;
}

:root {
  --primary-color: #e0e0e0;
  --secondary-color: rgb(159, 198, 243);
  --accent-color: #a9daff;
  --backgorund-color: rgb(255, 255, 255);
  --warning-color: rgb(240, 67, 67);
}
body{
  background-color: var(--backgorund-color);
}